html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  background: #1D428A;
}

h1 {
  color: #F58426;
  z-index: 1;
  font-size: 8rem;
  letter-spacing: 0.1em;
  text-shadow: 0 2px 12px rgba(0,0,0,0.14);
}

